# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Node
frontend/node_modules/
frontend/dist/

# Environment Variables
.env

# Databases & Data
# Removed chroma_db and data from gitignore so they can be deployed to Railway
chroma_db_temp/

# OS Files
.DS_Store
Thumbs.db
